<p>
Cordial saludo <%= @subprogram %>,
<p>
Les informamos que tienen una nueva solicitud de recolección de residuos.<br>
La persona que realizó la solicitud se llama <%= @name %>, vive en el barrio <%= @neighborhood %> y su dirección es <%= @address %>, <%= @city %>.<br>
El usuario ya está informado de los días y horarios de recolección, en caso de cualquier inquietud, lo pueden localizar a este número <%= @phone %> o al correo electrónico <%= @email %>.
</p>
<p>
Finalmente, le pedimos por favor una vez se efectúe la recolección remitir como respuesta a este correo el día cuando se hizo la recolección y la cantidad de material recolectado.
Agradecemos de antemano su compromiso y servicio
</p>
Saludos,<br>
Equipo CEMPRE – Colombia
